.comment{ data: { id: comment.id } }
  %p
    %strong= "#{Post::Comment.human_attribute_name :commenter}:"
    = comment.commenter.name

    %strong= "#{Post::Comment.human_attribute_name :body}:"
    = comment.body

  %p.controls-placeholder
    = link_to post_comment_path(@post, comment),
      :method => :delete,
      :data => { confirm: t(:confirmation) },
      :class => "btn btn-danger btn-mini" do
      = t(:delete_btn)
      %span.icon-remove

    = link_to new_child_post_comment_path(@post, comment),
      :class => "btn btn-mini add-nested",
      :data => { id: comment.id } do
      %span.icon-comment
      = t(".add_nested_comment")

    %a.btn.btn-mini.btn-add-nested{ href: "#modal", role: "button", data: { toggle: "modal" } }
      %span.icon-comment
      = t(".add_nested_comment")

