= simple_form_for [@post, @post.comments.build],
  :url => api_v1_post_comments_path(@post),
  :method => :post,
  :remote => true,
  :format => :json,
  :html => { class: "form-horizontal add-a-comment" },
  :defaults => { :input_html => { class: "form-control" }, :wrapper_html => { class: "col-lg-10" }} do |f|

  = f.input :parent_id, :as => :hidden

  .form-group
    = f.association :commenter

  .form-group
    = f.input :body, :as => :text

  .controls
    = f.button :submit, class: "btn btn-success btn-mini"
