= simple_form_for @post,
  :html => { class: "form-horizontal add-a-post" },
  :defaults => { input_html: { class: "form-control" }, wrapper_html: { class: "col-lg-10" }} do |f|
  = f.error_notification

  .form-group
    = f.input :title

  .form-group
    = f.input :text, as: :text

  .form-group
    = f.input :picture

  .form-group
    = f.input :state_event, as: :state_event

  .form-group
    %h3= t(:comments)
    #comments
      = f.simple_fields_for :comments do |comment|
        = render "web/posts/comments/comment_fields", :f => comment
      .links
        = link_to_add_association t(:add_btn), f, :comments,
          :partial => "web/posts/comments/comment_fields",
          :class => "btn btn-primary btn-mini"

  .controls
    = f.button :submit, class: "btn btn-success btn-mini"
