.post
  %p
    %strong= "#{Post.human_attribute_name :title}:"
    = post.title
    %br
    %strong= "#{Post.human_attribute_name :text}:"
    = post.text

  %p
    = link_to post_path(post),
      :method => :delete,
      :data => { confirm: t(:confirmation) },
      :class => "btn btn-danger btn-mini" do
      = t(:delete_btn)
      %span.icon-remove
    
    = link_to edit_post_path(post), 
      :class => "btn btn-warning btn-mini" do
      = t(:update_btn)
      %span.icon-edit
