%p
  %strong= "#{Post.human_attribute_name :title}:"
  = @post.title

%p
  %strong= "#{Post.human_attribute_name :text}:"
  = @post.text

%p
  %strong= "#{Post.human_attribute_name :picture}:"
  = image_tag @post.picture, class: "post-image"

%h2= "#{Post::Comment.model_name.human count: 0}:"

%button.btn{ type: "button", data: { toggle: "collapse", target: "#demo" }}
  %span.icon-comment
  = t(".add_comment")
.collapse_in.collapse#demo
  = render "web/posts/comments/form"

= nested_comments @post.comments.arrange(:order => :created_at)

.footer-buttons
  = link_to posts_path, class: "btn btn-default" do
    %span.icon-arrow-left
    = t(:back_btn)
  |
  = link_to edit_post_path(@post), class: "btn btn-default" do
    %span.icon-edit
    = t(:update_btn)
