%p
  %strong= "#{t :title, scope: [:activerecord, :attributes, :post]}:"
  = @post.title

%p
  %strong= "#{t :text, scope: [:activerecord, :attributes, :post]}:"
  = @post.text

%p
  %strong= "#{t :picture, scope: [:activerecord, :attributes, :post]}:"
  = image_tag @post.picture, class: "post-image"

%h2= "#{t(:comments)}:"

%button.btn{ type: "button", data: { toggle: "collapse", target: "#demo" }}
  %span.icon-comment
  = "#{t(:add_comment)}"
.collapse_in.collapse#demo
  = render "web/posts/comments/form"

= nested_comments @post.comments.arrange(order: :created_at)

.footer-buttons
  = link_to posts_path, class: "btn btn-default" do
    %span.icon-arrow-left
    = t(:back_btn)
  |
  = link_to edit_post_path(@post), class: "btn btn-default" do
    %span.icon-edit
    = t(:update_btn)
