= form_for([@post], html: { class: "form-horizontal add-a-post" }) do |f|
  - if @post.errors.any?
    #errorExplanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :title, class: "col-lg-2 control-label", for: "post_title"
    .col-lg-10
      = f.text_field :title, class: "form-control"

  .form-group
    = f.label :text, class: "col-lg-2 control-label", for: "post_text"
    .col-lg-10
      = f.text_area :text, class: "form-control"

  = f.submit class: "btn btn-success btn-xs"
