= simple_form_for([@post], html: { class: "form-horizontal add-a-post" },
  defaults: { input_html: { class: "form-control" }, wrapper_html: { class: "col-lg-10" }}) do |f|
  = f.error_notification

  .form-group
    = f.input :title

  .form-group
    = f.input :text, as: :text

  = f.button :submit, class: "btn btn-success btn-xs"
