%h1.text-success=t(:all_posts)
%table.table
  %tr
    %th= t :title, scope: [:activerecord, :attributes, :post]
    %th= t :text, scope: [:activerecord, :attributes, :post]

  - @posts.each do |post|
    %tr
      %td= post.title
      %td= post.text
      %td
        = link_to post_path(post), class: "btn btn-success" do
          = t(:show_btn)
          %span.glyphicon.glyphicon-film

        = link_to edit_post_path(post), class: "btn btn-warning" do
          = t(:update_btn)
          %span.glyphicon.glyphicon-edit

        = link_to post_path(post), method: :delete, data: { confirm: t(:confirmation) }, class: "btn btn-danger" do
          = t(:delete_btn)
          %span.glyphicon.glyphicon-remove

= link_to new_post_path, class: "btn btn-default" do
  = t(:create_btn)
  %span.glyphicon.glyphicon-flash
