<h1> New Post ! </h1>
<%= form_for :post, :url => posts_path do |f| %>
  <% if @post.errors.any? %>
    <div id="errorExplanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited this post being saved
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |m| %>
          <li>
            <%= m %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %>
    <%= f.text_area :text %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to "Back", posts_path %>
