%p
  %strong= "#{t :title, scope: [:activerecord, :attributes, :post]}:"
  = @post.title

%p
  %strong= "#{t :text, scope: [:activerecord, :attributes, :post]}:"
  = @post.text

%p
  %strong= "#{t :picture, scope: [:activerecord, :attributes, :post]}:"
  = image_tag @post.picture, class: "post-image"

%h2= "#{t(:comments)}:"
= render @post.comments

%h2= "#{t(:add_comment)}:"
= render "comments/form"

= link_to posts_path, class: "btn btn-default" do
  %span.icon-arrow-left
  = t(:back_btn)
|
= link_to edit_post_path(@post), class: "btn btn-default" do
  %span.icon-edit
  = t(:update_btn)
