%p
  %strong Title:
  = @post.title

%p
  %strong Text:
  = @post.text

%h2 Comments
= render @post.comments

%h2 Add a comment:
= render "comments/form"

= link_to posts_path, class: "btn btn-default" do
  Back
  %span.glyphicon.glyphicon-arrow-left
|
= link_to edit_post_path(@post), class: "btn btn-default" do
  %span.glyphicon.glyphicon-edit
  Update
