%p
  %strong= "#{t :title, scope: [:activerecord, :attributes, :post]}:"
  = @post.title

%p
  %strong= "#{t :text, scope: [:activerecord, :attributes, :post]}:"
  = @post.text

%h2= "#{t(:comments)}:"
= render @post.comments

%h2= "#{t(:add_comment)}:"
= render "comments/form"

= link_to posts_path, class: "btn btn-default" do
  = t(:back_btn)
  %span.glyphicon.glyphicon-arrow-left
|
= link_to edit_post_path(@post), class: "btn btn-default" do
  %span.glyphicon.glyphicon-edit
  = t(:update_btn)
