<!DOCTYPE html>
%html
  %head
    %title= t(:welcome)
    = stylesheet_link_tag "application"

  %body
    %h1= t(:welcome)
    = render_breadcrumbs
    = yield

    = javascript_include_tag "application"
